.user-buttons {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Optional: Adds space between the buttons */
    width: 100%; /* Ensure the container takes up full width */
}

.user-button {
    width: auto; /* Let the buttons take up their natural width */
    margin-bottom: 10px; /* Add space below the buttons */
}

.user-card {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

    .user-card:hover {
        transform: translateY(-10px);
        opacity: 0.9;
    }

.post-card {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

    .post-card:hover {
        transform: translateY(-10px);
        opacity: 0.9;
    }