@model object

<h2>Error Occurred</h2>

@if (Model != null)
{
    <div>
        <h4>@((dynamic)Model).Message</h4>
        <pre>@((dynamic)Model).StackTrace</pre>
    </div>
}
else
{
    <p>An unexpected error occurred.</p>
}

